.App-header header,
.App-title {
  display: inline-flex;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  position: relative;
}

.App-header h1 {
  margin: 14px 0;
  margin-right: 30px;
}

.App-header .act {
  position: absolute;
  right: 10px;
  top: 10px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.clickable {
  cursor: pointer;
}

.lightgray {
  color: lightgray;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: gray;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}